@import '../../assets/sass/colors.scss';
@import '../../assets/sass/mixins.scss';

.users {
  width: 100%;
  height: 100%;
  background: $white-default;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 32px;
    border-radius: 4px 4px 0 0;
    background: $primary-default;

    @media (max-width: 568px) {
      padding: 16px;
    }
  }

  &__title {
    @include text(18px, 24px, 700);
    color: $white-default;

    @media (max-width: 568px) {
      @include text(16px, 22px, 700);
    }
  }

  &__button {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;

    @media (max-width: 568px) {
      width: 20px;
      height: 20px;
    }

    svg {
      width: 24px;
      height: 24px;

      @media (max-width: 568px) {
        width: 16px;
        height: 16px;
      }

      path {
        fill: $white-default;
        transition: all 0.5s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: $primary-hovered;
        }
      }
    }
  }
}

