$text-default: #1D1929;
$border-default: #DEDEDE;

$white-default: #FFFFFF;

$primary-default: #4D6FC6;
$primary-hovered: #001857;
$primary-opacity: rgba(173, 178, 224, 0.2);

$success: #4DC668;
$error: #C64D4D;
